
@{
    ViewData["Title"] = "AboutMe";
}

<div class="container">
    <div class="row-flex-reverse">
        <div class="col-md-6">
            <div>
                <p id="my-resume">
                    Soy un profesional titulado en la carrera de computación e informática apasionado por el desarrollador de software.
                    Cuento con más de 3 años de experiencia en la creación de soluciones de software.
                    Uno de mis objetivos es especializarme en el desarrollo de aplicativos móviles y web. <br />
                    Actualmente estoy finalizando mi carrera de ingeniería de sistemas en la Universidad Peruana de Ciencias Aplicadas (UPC).<br />
                    <br />
                    Si estás buscando profesionalidad y dedicación, ¡cuenta conmigo!
                </p>
            </div>
            <div class="">
                <button class="btn btn-outline-main" id="btnContact"><i class="bi bi-person-lines-fill"></i> Contáctame</button>
                <button class="btn btn-outline-main" id="btnDownloadCV">
                    <i class="bi bi-file-earmark-arrow-down-fill"></i> Descargar
                    C.V.
                </button>
            </div>
            <div class="social-media">
                <ul class="">
                    <li class="social-media-item selected">
                        <a href="https://www.linkedin.com/in/odair-huamani-conde-600285173/" target="_blank">Linkedin <i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="social-media-item item-before">
                        <a href="https://github.com/Odair-ODR" target="_blank">GitHub <i class="bi bi-github"></i></a>
                    </li>
                    <li class="social-media-item item-before">
                        <a>Facebook <i class="bi bi-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6" style="text-align: end;">
            <img src="~/img/me2.jpg" id="photo" />
        </div>
    </div>
</div>

<div class="container">
    <h3 class="container-title">
        <span class="line"></span>
        Habilidades
        <span class="line"></span>
    </h3>
    <div class="flex-row">
        <p>
            Mis principales competencias son el desarrollo de software backend, principalmente en el lenguaje C# y SQL Server. Tengo la capacidad de resolver problemas,
            adaptarme fácilmente a los cambios constantes de requerimientos de un sistema y siempre dispuesto para colaborar con el equipo de trabajo.
            En el desarrollo de software siempre veo todos los posibles escenarios de error de un sistema, eso me ayuda a desarrollar código escalable y limpio, por ello mismo,
            siempre estoy abierto a la sugerencias y opiones de mejora.
        </p>
    </div>
</div>