@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <h3 class="container-title">
        <span class="line"></span>
        Contácame
        <span class="line"></span>
    </h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="contact-items">
                <li class="contact-item">
                    <div class="container-contact-data">
                        <div class="icon-container orangeBackground">
                            <i class="bi bi-geo-alt-fill primaryColorText"></i>
                        </div>
                        <div class="contact-data">
                            <a>Dirección</a>
                            <span>Villa María del Triunfo - Lima</span>
                        </div>
                    </div>
                </li>
                <li class="contact-item">
                    <div class="container-contact-data">
                        <div class="icon-container greenBackground">
                            <i class="bi bi-envelope-at-fill greenText"></i>
                        </div>
                        <div class="contact-data">
                            <a>Correo</a>
                            <span>odair.1697@gmail.com</span> <br />
                            <span>odr.1697@outlook.com</span>
                        </div>
                    </div>
                </li>
                <li class="contact-item">
                    <div class="container-contact-data">
                        <div class="icon-container purpleBackground">
                            <i class="bi bi-phone-vibrate-fill purpleText"></i>
                        </div>
                        <div class="contact-data">
                            <a>Teléfono</a>
                            <span>+51 993129674</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

